{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">

        {#        <div class="col-md-5 col-md-offset-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Connexion</h3>
                        </div>
                        <div class="panel-body">
                            <fieldset class="form-group">
                                <label for="exampleInputEmail1">Username / Email</label>
                                <input type="email" class="form-control" placeholder="Votre nom d'utilisateur ou email">
                                <small class="text-muted">We'll never share your email with anyone else.</small>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </fieldset>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary">Creer un compte</button>
                        </div>
                    </div>
                </div>#}
    </div>
{% endblock %}