<div class="col-md-3">
    <div class="list-group">
        <a class="list-group-item active">
            Gestions carnet
        </a>
        <a href="#" class="list-group-item">Ajouter nouveau</a>
        <a href="{{ path('carnet_all') }}" class="list-group-item">Tous mes contacts</a>
    </div>

    <div class="list-group">
        <a class="list-group-item active">
            Mon compte
        </a>
        <a href="#" class="list-group-item">Mes informations</a>
        <a href="#" class="list-group-item">Deconnexion</a>
    </div>
</div>